* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: teal;
}

/* Stijlen voor het hele bord */

#digital-signage-board {
    background-color: white;
    width: 100%;
    height: 100%;
    font-family: monospace;
    position: relative;
}

/* Stijlen voor de klok */
#clock {
    font-size: 72px;
    color: black;
}

/* Stijlen voor het huidige kleurenbandje */
#current-color {
    font-size: 36px;
    color: black;
}

/* Stijlen voor de kleurvlakken */
.color-box {
    /* Zet de breedte en hoogte op 50px */
    width: 50px;
    height: 50px;

    border: 1px solid black;
}

/* Stijlen voor de lijst met volgende springrondes */
#next-rounds {
    font-size: 36px;
    color: black;
}

/* Stijlen voor de lijstitems in de lijst met volgende springrondes */
#round-list li {
    /* Zet de tekst op een nieuwe regel */
    display: block;

    display: flex;
    align-items: center;

    text-align: right;
}

/* Stijlen voor de tijdstippen in de lijst met volgende springrondes */
.round-time {
    font-size: 24px;

    color: black;

    margin-left: 10px;
}

// popup

#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1000;
}
