// ****************************************************************** VARIABLES

$textcolor: white;
$fontsize: 50px;

$color-groep1: #f6e58d;
$color-groep2: #ffbe76;
$color-groep3: #ff7979;
$color-groep4: #badc58;
$color-groep5: #f9ca24;
$color-groep6: #f0932b;
$color-groep7: #eb4d4b;
$color-groep8: #6ab04c;
$color-groep9: #22a6b3;
$color-groep10: #be2edd;
$color-groep11: #4834d4;
$color-groep12: #130f40;

// ****************************************************************** CODE

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: arial;
}

body {
    background-color: $color-groep12;
    text-align: center;
    padding-top: 25vh;
}

p {
    text-align: center;
    color: #fff;
    text-shadow: 0 0 4px #fff;
    font-size: 100px;
}

.tool-btn {
    background-color: $color-groep12;
    padding: 20px 0;
    text-align: center;
}

.tool-btn button {
    transition: 0.2s;
    background-color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    margin: 0 10px;
    border: 0;
    outline: 0;
    box-shadow: 0 0 10px #aaf;
}

.tool-btn button:hover {
    background-color: $color-groep9;
    transform: scale(1.1);
}


// hier werk je aan
#progress {
    width: 25%;
    height: 100px;
    animation: progress;
}

@keyframes progress {
    0% {
        background: red;
    }
    25% {
        background: blue;
    }
    50% {
        background: yellow;
    }
    75% {
        background: green;
    }
    100% {
        background: red;
    }
}
