// ****************************************************************** VARIABLES

$textcolor: white;
$fontsize: 50px;

$main-color-zwart: #141414;
$main-color-rood: #d52121;
$main-color-zilver: #c0bcb5;

$color-groep1: #f6e58d;
$color-groep2: #ffbe76;
$color-groep3: #ff7979;
$color-groep4: #badc58;
$color-groep5: #f9ca24;
$color-groep6: #f0932b;
$color-groep7: #eb4d4b;
$color-groep8: #6ab04c;
$color-groep9: #22a6b3;
$color-groep10: #be2edd;
$color-groep11: #4834d4;
$color-groep12: #130f40;

// ****************************************************************** CODE

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: arial;
}

html,
body {
    width: 100%;
    height: 100%;
}

#topbar {
    width: 100%;
    height: 20%;

    border: 1px solid black;

    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    align-items: stretch;

    .titel {
        flex-grow: 1;
        height: 50%;
        margin: auto 0;
    }

    #klok {
        flex-grow: 2;
        height: 150%;

        #kloktijd {
            width: 500px;
            height: 500px;

            margin: 0 auto;
            margin-top: -200px;
            padding-top: 250px;
            text-align: center;
            font-size: $fontsize;

            border-radius: 50%;
            border: 1px solid black;
        }
    }
}

#onder {
    background-color: gray;
    width: 100%;
    height: 80%;
    display: flex;
}

#resterend {
    width: 50%;
    height: 100%;
}

#volgende {
    width: 50%;
    height: 100%;
}
